.card {
  height: 490px;
  width: 280px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 2px 5px gray;
  text-align: center;
}
.button {
  padding: 9px 35px;
  background-color: #3278FF;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: large;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 66px);
  gap: 26px;
}
.preview {
  height: 274px;
  width: 181px;
}
