.card {
  height: 490px;
  width: 280px;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px gray;
  margin: 10px;
  text-align: center;
  padding: 40px;
  
}
.button {
  width: 141px;
  height: 34px;
  background-color: #3278FF;
  border-radius: 5px;
  color: white;
  border: 3px solid #3278FF;
  font-size: large;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.preview {
  height: 274px;
  width: 181px;
}
